html {
background-image: url("https://images.unsplash.com/photo-1456324463128-7ff6903988d8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6649f5be29e2fdfb9b367b7783cc7404");
background-size: cover, cover;
height: 100%;
background-repeat: no-repeat;
}

body {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
  background-color: white;
  opacity: 0.6;
  padding-top: 3%;
  padding-left: 14%;
  padding-bottom: 10%;
}

h1 {
  text-align: center;
  /*padding-right: 170px;*/
  color: #060924;
}

marquee {
  margin-left: -180px;
}

ul li {
  list-style-type: none;
}


.completed {
  text-decoration: line-through;
}

input:focus {
  outline: 0;
}

#field {
  margin-left: 9%;
}



@media (max-width: 1268px) {
  h1 {
    /*margin-left: -1%;*/
  }
}

@media (max-width: 1255px) {
  h1 {
    /*margin-left: -2%;*/
  }
}

@media (max-width: 1199px;) {
  body {
    margin-right: 20%;
  }
}

@media (max-width: 1099px;) {
  body {
    margin-right: 20%;
  }
}

@media (max-width: 1050px;) {
  body {
    padding-left: 12%;
  }
}

@media (max-width: 1000px;) {
  body {
    padding-left: 7em;
  }
}

@media (max-width: 950px;) {
  body {
    padding-left: 7em;
  }
}

@media (max-width: 900px;) {
  body {
    padding-left: 5em;
  }
}

@media (max-width: 850px;) {
  body {
    padding-left: 5em;
  }
}

@media (max-width: 800px;) {
  body {
    padding-left: 4em;
  }
}

@media (max-width: 770px;) {
  body {
    padding-left: 3em;
  }
}

@media (max-width: 720px;) {
  body {
    padding-left: 3em;
  }
}

@media (max-width: 700px;) {
  body {
    padding-left: 2em;
  }
}

@media (max-width: 650px;) {
  body {
    padding-left: 4%;
  }
}

@media (max-width: 600px;) {
  h1 {
    text-align: center;
    font-size: 35px;
  }

  #field {
    margin-left: 14%;
  }
}

@media (max-width: 545px;) {
  body {
    margin-left: 18%;
    padding-left: 0;
  }
}

@media (max-width: 485px) {
  body {
    margin-left: 15%;
    padding-left: 0;
  }
}

@media (max-width: 460px) {
  body {
    margin-left: 10%;
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  body {
    margin-left: 3%;
    padding-left: 0;
  }
  #field {
    margin-left: 15%;
  }
  h1 {

  }
}
